*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

img,
embed,
object,
video {
    max-width: 100%;
}

/*GLOBAL MOBILE STYLES*/

/*making images responsive*/
.responsive-img {
    height: auto;
    max-width: 100%;
}

.responsive-hdr {
    font-size: 7vw;
}

.featured-hdr {
    font-size: 6vw;
}

.responsive-text {
    font-size: 5vw;
}

.pixabay-logo {
    width: 5vw;
}

/*END GLOBAL MOBILE STYLES*/

.content {
    min-height: 100vh;
    width: fit-content;
    margin: auto;
}


.header {
    text-align: center;
    margin-bottom: 50px;
}

.header-title {
    text-transform: uppercase;
}

.header-text {
    font-family: 'Comfortaa', cursive;
}

hr {
    color: #99004f;
    background-color: #99004f;
    -webkit-margin-bottom-collapse: discard;
    border: none;
    height: 5px;
}

.hero-img img {
    height: auto;
    width: 100%;
}

.featured-link {
    display: inline-block;
    text-decoration: none;
    color: #99004f;
    padding: 5px;
}

.featured-link:hover {
    pointer-events: none;
    text-decoration: none;
    color: black;
}

.content-hdr,
.featured-item {
    text-align: center;
    margin-top: 20px;
}

.content-hdr a {
    color: black;
}

.content-hdr a:hover {
    color: #99004f;
    text-decoration-line: none;
}

.featured-work {
    margin: 50px auto 0 auto;
    max-width: 1400px;
}

.featured-item {
    margin: 30px 0;
}

.featured-img {
    border-radius: 10px;
    opacity: 1;
    transition: ease-in;
}

.featured-img:hover {
    opacity: 0.3;
    transition: ease-in;
}

/*set opacity to the three images on hover*/

/*FOOTER*/

.footer-container {
    position: relative;
    bottom: 0;
    height: 2.5rem;
    /* Footer height */

    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
    justify-content: space-between;
}

.logo-disclaimer a {
    color: #99004f
}

.logo-disclaimer a:hover {
    color: gray;
    text-decoration: blink;
}

.fa-github-square {
    color: black;
}

.fa-github-square:hover {
    color: currentColor;
}

.fa-linkedin:hover {
    color: black;
}

/*FOOTER*/

/*RESPONSIVE BREAKS */



@media screen and (min-width: 480px) {
    .responsive-hdr {
        font-size: 6vw;
    }

    .featured-hdr {
        font-size: 5vw;
    }

    .responsive-text {
        font-size: 4vw;
    }

    .pixabay-logo {
        width: vw;
    }
}

@media screen and (min-width: 500px) {

    .header {
        justify-content: space-between;
        margin: 0 auto 30px;
        text-align: right;
    }

    .header-text {
        text-align: right;
    }

    .header,
    .featured {
        display: flex;
        max-width: 1400px;
        margin: 30px auto;
    }

    .hero-img {
        background-position: center;
        background-repeat: no-repeat;
        max-width: 1400px;
        margin: 0 auto;
        overflow: hidden;
    }

    .featured-item {
        margin: 20px 20px 20px 0;
    }

    .featured-item:last-child {
        margin-right: 0;
    }
}

@media screen and (min-width: 769px) {
    .hero {
        max-width: 1400px;
        margin: 30px auto;
        height: 500px;
    }

    .featured-work .content-hdr {
        text-align: left;
        margin-top: 20px;
    }

    .content-hdr  {
        display: inline-block;
        border-top: 1px solid #99004f;
        border-bottom: 1px solid #99004f;
    }

    .featured-hdr {
        opacity: 0;
    }

    .featured-img:hover + h3 {
        opacity: 1;
    }
}

@media screen and (min-width: 830px) {

    .responsive-hdr {
        font-size: 4vw;
    }

    .responsive-text {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1200px) {
    .responsive-hdr {
        font-size: 3vw;
    }

    .featured-hdr {
        font-size: 2vw;
    }

    .responsive-text {
        font-size: 1vw;
    }

    .pixabay-logo {
        width: 2vw;
    }
}

@media screen and (min-width: 1420px) {
    .header-logo {
        margin: 0;
    }
}

/*MEDIA
*
*
**/