*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*GLOBAL MOBILE STYLES*/

/*making images responsive*/
.responsive-img {
    height: auto;
    max-width: 100%;
}

.responsive-hdr {
    font-size: 7vw;
}

.featured-hdr {
    font-size: 6vw;
}

.responsive-text {
    font-size: 5vw;
}

.content {

    min-height: 100vh;
}

/*END GLOBAL MOBILE STYLES*/

.header {
    text-align: center;
    margin-bottom: 50px;
}

.header-text h1,
p {
    font-family: 'Comfortaa', cursive;
}

.hero-img {
    background-image: url(../img/hero750.jpg);
    background-size: cover;
    height: 200px;
}


.featured-link {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.featured-link:hover {
    pointer-events: none;
    text-decoration: none;
    color: grey;
}

.content-hdr,
.featured-item {
    text-align: center;
}

.featured-work {
    margin-top: 50px;
    max-width: 1400px;
    margin: 0 auto;
}

.featured-item {
    margin: 30px 0;
}

#footer {
    position: relative;
    bottom: 0;
    height: 2.5rem;
    /* Footer height */
    width: 100%;

    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: left;
}

.footer-text {
    padding: 0.5em 1em;
}

.fa-github-square {
    color: black;
}

.fa-github-square:hover {
    color: currentColor;
}

.fa-linkedin:hover {
    color: black;
}

@media screen and (min-width: 480px) {
    .responsive-hdr {
        font-size: 6vw;
    }

    .featured-hdr {
        font-size: 5vw;
    }

    .responsive-text {
        font-size: 4vw;
    }

    .featured-img {
        width: 100%;
    }
}

@media screen and (min-width: 500px) {

    .header {
        justify-content: space-between;
        margin: 0 auto 30px;
        text-align: right;
    }

    .header-text {
        text-align: right;
    }

    .header,
    .featured {
        display: flex;
        max-width: 1400px;
    }


    .featured {
        margin: 30px auto;
    }

    .featured-item {
        margin: 20px 20px 20px 0;
    }

    .featured-item:last-child {
        margin-right: 0;
    }
}

@media screen and (min-width: 769px) {
    .hero {
        max-width: 1400px;
        margin: 0 auto;
    }

    .hero-img {
        background-image: url(../img/hero750.jpg);
        background-size: 80vw;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        max-width: 1400px;
        height: 500px;
        margin: auto;
    }

    .featured-work h2 {
        display: block;
        text-align: left;
        margin-top: 50px;
    }
}

@media screen and (min-width: 830px) {

    .responsive-hdr {
        font-size: 4vw;
    }

    .responsive-text {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1200px) {
    .responsive-hdr {
        font-size: 3vw;
    }

    .featured-hdr {
        font-size: 2vw;
    }

    .responsive-text {
        font-size: 1vw;
    }
}

@media screen and (min-width: 1420px) {
    .header-logo {
        margin: 0;
    }
}

/*MEDIA
*
*
**/